<?xml version="1.0"?>
<configuration>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="fileLogger" type="System.Diagnostics.TextWriterTraceListener" initializeData="PowerMeter.log"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="Network.MeshNode">
        <host>
          <baseAddresses>
            <add baseAddress="net.p2p://LaJust/PowerMeter3" />
          </baseAddresses>
        </host>

        <endpoint
          address=""
          binding="netPeerTcpBinding"
          bindingConfiguration="secureBinding"
          contract="Network.IMeshNode"/>
      </service>
    </services>

    <bindings>
      <netPeerTcpBinding>
        <binding name="secureBinding">
          <security mode="Transport">
            <transport credentialType="Password"/>
          </security>
          <resolver mode="Pnrp"/>
        </binding>
      </netPeerTcpBinding>
    </bindings>

    <client>
      <endpoint
        name="IMeshNode"
        address="net.p2p://LaJust/PowerMeter3"
        binding="netPeerTcpBinding"
        bindingConfiguration="secureBinding"
        contract="Network.IMeshNode" />
    </client>
  </system.serviceModel>

</configuration>